.sans-feature-menubar,
.sans-feature-titlebar {
  visibility: collapse;
}

:root:not([features~="menubar"]) .sans-feature-menubar,
:root:not([features~="titlebar"]) .sans-feature-titlebar {
  visibility: visible;
}

#compactmoonoptionsPreferences button[dlgtype="accept"]:not([hidden="true"]) ~ button[dlgtype="cancel"]{display:none;}

#compactmoonoptionsPreferences .paneSelector {
	display:none;
	}

#compactmoonoptionsPreferences #pane1 {
	padding:2px;
	}
#compactmoonoptionsPreferences #pane1 tabpanels {
	padding:3px;
	}

#compactmoonoptionsPreferences #pane1 hbox label {
	margin:4px 5px;
	}

#compactmoonoptionsPreferences hbox menulist {
	margin:3px 0 0;
	padding:0px;
	}

#compactmoonoptionsPreferences hbox menulist menuitem {
	padding:0px;
	-moz-padding-end: 15px;
	}

#compactmoonoptionsPreferences #totabMaxWidth,
#compactmoonoptionsPreferences #toTabMinWidth {
	width:3em;
	margin:3px 0 0;
	}

#compactmoonoptionsPreferences description{
	width:430px;
	margin:0 0 0 15px;
	}

#compactmoonoptionsPreferences .TabNote > description{
	margin:10px 0 0 0;
	}

#compactmoonoptionsPreferences #toFFConfiguration description{
	width:435px;
	margin:4px 5px;
	}

#compactmoonoptionsPreferences #toNote description{
	width:445px;
	margin:3px;
	}
#compactmoonoptionsPreferences #spacer{
	height:30px;
	}
