.sans-feature-menubar,
.sans-feature-titlebar {
  visibility: collapse;
}

:root:not([features~="menubar"]) .sans-feature-menubar,
:root:not([features~="titlebar"]) .sans-feature-titlebar {
  visibility: visible;
}

#classiccompactoptionsPreferences button[dlgtype="accept"]:not([hidden="true"]) ~ button[dlgtype="cancel"]{display:none;}

#classiccompactoptionsPreferences .paneSelector {
	display:none;
	}

#classiccompactoptionsPreferences #pane1 {
	padding:2px;
	}
#classiccompactoptionsPreferences #pane1 tabpanels {
	padding:3px;
	}

#classiccompactoptionsPreferences #pane1 hbox label {
	margin:4px 5px;
	}

#classiccompactoptionsPreferences hbox menulist {
	margin:3px 0 0;
	padding:0px;
	}

#classiccompactoptionsPreferences hbox menulist menuitem {
	padding:0px;
	-moz-padding-end: 15px;
	}

#classiccompactoptionsPreferences #totabMaxWidth,
#classiccompactoptionsPreferences #toTabMinWidth {
	width:3em;
	margin:3px 0 0;
	}

#classiccompactoptionsPreferences description{
	width:430px;
	margin:0 0 0 15px;
	}

#classiccompactoptionsPreferences .TabNote > description{
	margin:10px 0 0 0;
	}

#classiccompactoptionsPreferences #toFFConfiguration description{
	width:435px;
	margin:4px 5px;
	}

#classiccompactoptionsPreferences #toNote description{
	width:445px;
	margin:3px;
	}
#classiccompactoptionsPreferences #spacer{
	height:30px;
	}
