/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  font-size: 11px;
  background: #EEE;
}
.path,
.filters {
  font-size: 11px;
  word-spacing: -1px;
}
.path ol {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.path li {
  border-radius: 3px;
  padding: 2px 3px;
  text-shadow: #FFF 0 1px 0;
  font-weight: bold;
  font-size: 11px;
  background: -moz-linear-gradient(top, #F6F6FF, #E3E3FF);
  display: inline-block;
}
.path li:after {
  content: " > ";
}
.path li:last-child {
  background: -moz-linear-gradient(top, #FFC, #DD8);
}
.path li:last-child:after {
  color: red;
  content: "";
}

.property-header {
  padding: 2px 5px;
  background: -moz-linear-gradient(top, #F8F8F8, #E8E8E8);
  color: #666;
}

.property-name,
.rule-matched,
.rule-unmatched {
  cursor: pointer;
}

/* Take away these two :visited rules to get a core dumper     */
/* See https://bugzilla.mozilla.org/show_bug.cgi?id=575675#c30 */
.link {
  color: #55A;
}
.link:visited {
  color: #55A;
}
a.link {
  text-decoration: none;
  cursor: pointer;
}
a.link:visited {
  text-decoration: none;
}

.rule-matched,
.rule-unmatched {
  padding: 2px 0;
  white-space: nowrap;
}

.rulelink {
  color: #55A;
}

.expander {
  width: 8px;
  height: 8px;
  float: left;
  -moz-margin-start: 15px;
  -moz-margin-end: 5px;
  margin-top: 3px;
  background: url("chrome://browser/skin/devtools/arrows.png");
  background-position: 24px 0;
}

.searchfield {
  background: url("chrome://browser/skin/devtools/search.png") no-repeat #FFF;
  border-radius: 5px;
  -moz-padding-start: 20px;
  width: 135px;
  float: right;
}

.expander[dir="rtl"] {
  background-position: 16px 0;
}
.expander[open] {
  background-position: 8px 0;
}

.property-name {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.property-value {
  display: inline-block;
  font-size: 10px;
}

.property-view-hidden {
  display: none;
}

.rule-link {
  text-align: end;
  -moz-padding-start: 10px;
}

/* This rule is necessary because Templater.jsm breaks LTR TDs in RTL docs */
.rule-text {
  direction: ltr;
  -moz-padding-start: 10px;
}

.resizerbox {
  background-color: window;
}

.bestmatch {
  color: black;
}
.matched {
  text-decoration: line-through;
}
.parentmatch {
  color: #666;
}
.unmatched {
  color: brown;
}

.userStyles {
  position: relative;
  top: 3px;
}

.userStyles,
.userStylesLabel {
  cursor: pointer;
}