/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
  overflow: hidden;
}

#close-button {
  background-image: url("KUI-close.png");
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 1;
  cursor: pointer;
}

.veil {
  background-color: rgba(0, 0, 0, 0.5);
}

.veil, #veil-middlebox, #veil-transparentbox {
  -moz-transition: 0.1s;
  -moz-transition-timing-function: linear;
}

#veil-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#veil {
  width: 100%;
  height: 100%;
  display: -moz-box;
  -moz-box-orient: vertical;
}

#veil-topbox, #veil-bottombox {
  width: 100%;
}

#veil-bottombox {
  -moz-box-flex: 1;
}

#veil-middlebox {
  display: -moz-box;
  -moz-box-orient: horizontal;
}

#veil-leftbox, #veil-rightbox {
  height: 100%;
}

#veil-rightbox {
  -moz-box-flex: 1;
}

#veil {
  vertical-align: top;
}
