/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --back-button-background-image: linear-gradient(rgba(149,158,211,1), rgba(104,116,192,1), rgba(0,49,167,1), rgba(0,101,228,1), rgba(29,159,249,1) 100%) !important;
  --back-button-background-color: rgba(0,255,12,.1) !important;
  --back-button-box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 1px rgba(14,124,23,.15) !important;
  --back-button-hover-background-image: linear-gradient(rgba(149,158,211,.7), rgba(104,116,192,.7), rgba(0,49,167,.7), rgba(0,101,228,.7), rgba(29,159,249,.7) 100%) !important;
  --back-button-hover-background-color: rgba(0,179,255,1) !important;
  --back-button-hover-box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 1px rgba(14,124,23,.15) !important;
  --back-button-active-background-image: linear-gradient(rgba(149,158,211,.7), rgba(104,116,192,.7), rgba(0,49,167,.7), rgba(0,101,228,.7), rgba(29,159,249,.7) 100%) !important;
  --back-button-active-background-color: rgba(0,9,179,1) !important;
  --back-button-active-box-shadow: var(--back-button-hover-box-shadow) !important;
}

#back-btn,
#forward-btn,
#back-button,
#forward-button {
  background-color: var(--back-button-background-color) !important;
  background-image: var(--back-button-background-image) !important;
  box-shadow: var(--back-button-box-shadow) !important;
}

#back-btn:not([disabled="true"]):hover,
#forward-btn:not([disabled="true"]):hover,
#back-button:not([disabled="true"]):hover,
#forward-button:not([disabled="true"]):hover {
  background-color: var(--back-button-hover-background-color) !important;
  background-image: var(--back-button-hover-background-image) !important;
  box-shadow: var(--back-button-hover-box-shadow) !important;
}

#back-btn:not([disabled="true"]):hover:active,
#forward-btn:not([disabled="true"]):hover:active,
#back-button:not([disabled="true"]):hover:active,
#forward-button:not([disabled="true"]):hover:active {
  background-color: var(--back-button-active-background-color) !important;
  background-image: var(--back-button-active-background-image) !important;
  box-shadow: var(--back-button-active-box-shadow) !important;
}

#back-button:not([disabled="true"]) > label,
#forward-button:not([disabled="true"]) > label{
  color: white !important;
}