/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --toolbarbutton-image: url("chrome://global/skin/themeoptions/mx4/Toolbar.png") !important;
  --toolbarbutton-bright-image: url("chrome://global/skin/themeoptions/mx4/Toolbar-dark.png") !important;
}

treechildren::-moz-tree-image(title, query, OrganizerQuery_History) {
  list-style-image: url("chrome://global/skin/themeoptions/mx4/Toolbar.png") !important;
  -moz-image-region: rect(1px, 125px, 17px, 109px) !important;
}

treechildren::-moz-tree-image(container, OrganizerQuery_AllBookmarks) {
  list-style-image: url("chrome://global/skin/themeoptions/mx4/Toolbar.png") !important;
  -moz-image-region: rect(1px, 143px, 17px, 127px) !important;
}