#back-btn,
#forward-btn,
#back-button,
#forward-button,
#stop-button,
#reload-button,
#home-button,
#downloads-button,
#history-button,
#feed-button,
#fullscreen-button,
#sync-button,
#bookmarks-button,
#bookmarks-menu-button,
#print-button,
#new-window-button,
toolbar:not(#TabsToolbar) #new-tab-button,
#cut-button,
#copy-button,
#paste-button,
#zoom-in-button,
#zoom-out-button,
#downloads-indicator-icon {
  list-style-image: url("chrome://global/skin/themeoptions/firefox3xp/Toolbar.png") !important;
}

#downloads-indicator:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter:not([CCOverride=true]) {
  background: -moz-image-rect(url("chrome://global/skin/themeoptions/firefox3xp/Toolbar.png"),
                              0, 108, 18, 90) center no-repeat;
  background-size: 12px;
}

treechildren::-moz-tree-image(title, query, OrganizerQuery_History) {
  list-style-image: url("chrome://global/skin/themeoptions/firefox3xp/Toolbar.png") !important;
  -moz-image-region: rect(1px, 125px, 17px, 109px) !important;
}

treechildren::-moz-tree-image(container, OrganizerQuery_AllBookmarks) {
  list-style-image: url("chrome://global/skin/themeoptions/firefox3xp/Toolbar.png") !important;
  -moz-image-region: rect(1px, 143px, 17px, 127px) !important;
}
