/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Flat backgrounds ::::: */

toolbar:not(.devtools-toolbar):not(.devtools-tabbar):not(#inspector-toolbar):not(#devtools-sidebar-toolbar),
scrollbar,
scrollbarbutton,
thumb,
menu,
menubar,
dropmarker,
treechildren,
menuitem,
.progress-bar,
.progressmeter-statusbar,
.splitmenu-menuitem,
menuitem[_moz-menuactive="true"],
#identity-box > hbox {
  background-image:none !important;
}

#main-menubar:-moz-system-metric(windows-compositor):not(:-moz-lwtheme):not(:-moz-window-inactive) {
  background-color: rgba(255,255,255,.5) !important;
  border-radius: 4px;
}

#addon-bar toolbaritem{
  background-image: linear-gradient(rgba(100%,100%,100%,.4), rgba(100%,100%,100%,.4)),
                    linear-gradient(rgba(10%,10%,10%,.2), rgba(10%,10%,10%,.2))!important;
}

#main-window[privatebrowsingmode=temporary] #appmenu-button {
  background-image: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%) !important;
}

#addon-bar toolbaritem {
  border-top-width:1px !important;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  background-image: url(chrome://global/skin/arrow/arrow-rit.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbarbutton[type="increment"]:hover {
  background-image: url(chrome://global/skin/arrow/arrow-rit-hov.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbarbutton[type="increment"]:active {
  background-image: url(chrome://global/skin/arrow/arrow-rit-act.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url(chrome://global/skin/arrow/arrow-rit-dis.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  background-image: url(chrome://global/skin/arrow/arrow-dn.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:hover {
  background-image: url(chrome://global/skin/arrow/arrow-dn-hov.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:active {
  background-image: url(chrome://global/skin/arrow/arrow-dn-act.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url(chrome://global/skin/arrow/arrow-dn-dis.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
  background-image: url(chrome://global/skin/arrow/arrow-lft.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbarbutton[type="decrement"]:hover {
  background-image: url(chrome://global/skin/arrow/arrow-lft-hov.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbarbutton[type="decrement"]:active {
  background-image: url(chrome://global/skin/arrow/arrow-lft-act.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbarbutton[type="decrement"][disabled="true"] {
  background-image: url(chrome://global/skin/arrow/arrow-lft-dis.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
  background-image: url(chrome://global/skin/arrow/arrow-up.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:hover {
  background-image: url(chrome://global/skin/arrow/arrow-up-hov.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:active {
  background-image: url(chrome://global/skin/arrow/arrow-up-act.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
  background-image: url(chrome://global/skin/arrow/arrow-up-dis.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


/* ..... Tree Children Backgrounds.... */
treechildren::-moz-tree-row(selected),
treechildren::-moz-tree-row(selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected),
tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, focus),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(primary, dropOn),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(primary, dropOn),
treechildren::-moz-tree-cell-text(primary, dropOn),
treechildren::-moz-tree-drop-feedback,
treechildren::-moz-tree-progressmeter,
treecol,
treecolpicker {
  background-image:none !important;
}

/* ..... Tabs .... */

#TabsToolbar{
  background-image: none !important;
}

#main-window[cctabsintitlebar=true][autohide][tabsontop] #TabsToolbar,
#main-window[tabsintitlebar] #TabsToolbar{
  background-image: none !important;
}

#TabsToolbar:-moz-lwtheme {
  background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), 
                    linear-gradient(rgba(50, 50, 50, 0.15), rgba(50, 50, 50, 0.15)) !important;
}

