/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== global.css =====================================================
  == Styles that apply everywhere.
  ======================================================================= */

/* all localizable skin settings shall live here */
@import url("chrome://global/locale/intl.css");
@import url("chrome://os/skin/global.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
  --dialog-color: -moz-Dialog;
  --dialog-text-color: -moz-DialogText;
  --field-color: -moz-Field;
  --field-text-color: -moz-FieldText;
  --highlight-color: Highlight;
  --highlight-text-color: HighlightText;
  --menu-color: Menu;
  --menu-text-color: MenuText;
  --shadow-color: ThreeDShadow;
  --shadow-dark-color: ThreeDDarkShadow;
  --shadow-face-color: ThreeDFace;
  --shadow-highlight-color: ThreeDHighlight;
  --shadow-light-color: ThreeDLightShadow;
}

/* ::::: XBL bindings ::::: */

* {
  -moz-box-sizing:content-box;
}

radio {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#radio");
}

menulist > menupopup,
.menulist-menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

.menulist-compact {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#menulist-compact");
}

progressmeter[mode="undetermined"] {
  -moz-binding: url("chrome://global/content/bindings/progressmeter.xml#progressmeter-undetermined");
}

/* ::::: root elements ::::: */

window,
page,
dialog,
wizard,
prefwindow {
  -moz-appearance: window;
  background-color: var(--dialog-color);
  color: var(--dialog-text-color);
  font: message-box;
}

/* deprecated */
window.dialog {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

/* ::::: alert icons :::::*/

.message-icon,
.alert-icon,
.error-icon,
.question-icon {
  width: 32px;
  height: 32px;
}

.message-icon {
  list-style-image: url("chrome://global/skin/icons/information-32.png");
}

.alert-icon {
  list-style-image: url("chrome://global/skin/icons/Warning.png");
}

.error-icon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.question-icon {
  list-style-image: url("chrome://global/skin/icons/Question.png");
}

/* ::::: iframe ::::: */

iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}

/* ::::: statusbar ::::: */

statusbar {
  -moz-appearance: none;
  border-top: 1px solid var(--shadow-light-color);
  border-left: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-highlight-color);
  border-bottom: 1px solid var(--shadow-highlight-color);
  background-color: var(--dialog-color);
  min-height: 16px;
}

statusbarpanel {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  border-left: 1px solid var(--shadow-highlight-color);
  border-top: 1px solid var(--shadow-highlight-color);
  border-right: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
  padding: 0 4px;
}

statusbarpanel:not(.statusbar-resizerpanel):-moz-lwtheme {
  -moz-appearance: none;
  border-top-style: none;
  border-bottom-style: none;
  border-inline-start-style: none;
}

.statusbar-resizerpanel {
  -moz-box-align: end;
  -moz-box-pack: end;
  -moz-appearance: resizerpanel;
  padding: 0;
  border: none;
}

.statusbarpanel-iconic,
.statusbarpanel-iconic-text,
.statusbarpanel-menu-iconic {
  padding: 0 1px;
}

/* XXXBlake yeah, shoot me -- these don't belong here.  I'll move them later. */

sidebarheader {
  height: 22px;
  background-color: var(--dialog-color);
  -moz-appearance: toolbox;
  border-bottom: 1px solid var(--shadow-color);
  border-top: 1px solid var(--shadow-highlight-color);
}

sidebarheader > label {
  padding-inline-start: 4px;
}

.toolbar-focustarget {
  -moz-user-focus: ignore !important;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 1px 3px !important;
}

/* ::::: miscellaneous formatting ::::: */

:root:-moz-lwtheme,
[lwthemefooter="true"] {
  -moz-appearance: none;
}

:root:-moz-lwtheme-darktext {
  text-shadow: 0 -0.5px 1.5px white;
}

:root:-moz-lwtheme-brighttext {
  text-shadow: 1px 1px 1.5px black;
}

statusbar:-moz-lwtheme,
sidebarheader:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
  border-style: none;
}

.inset {
  border: 1px solid var(--shadow-color);
  border-right-color: var(--shadow-highlight-color);
  border-bottom-color: var(--shadow-highlight-color);
  margin: 0 5px 5px;
}

.outset {
  border: 1px solid var(--shadow-color);
  border-left-color: var(--shadow-highlight-color);
  border-top-color: var(--shadow-highlight-color);
}

/* separators */
separator:not([orient="vertical"]) {
  height: 1.5em;
}
separator[orient="vertical"] {
  width: 1.5em;
}

separator.thin:not([orient="vertical"]) {
  height: 0.5em;
}
separator.thin[orient="vertical"] {
  width: 0.5em;
}

separator.groove:not([orient="vertical"]) {
  border-top: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-highlight-color);
  height: 0;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
separator.groove[orient="vertical"] {
  border-left: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-highlight-color);
  width: 0;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.small-margin {
  margin: 1px 2px;
}

.plain {
  -moz-appearance: none;
  margin: 0 !important;
  border: none;
  padding: 0;
}

.inspector-breadcrumbs-button label.plain{
  margin-top:-1px !important;
}

description,
label {
  cursor: default;
  margin-top: -1px;
  margin-bottom: 0px;
  margin-inline-start: 4px;
  margin-inline-end: 3px;
}


description {
  margin-bottom: 2px;
}

label[disabled="true"] {
  color: GrayText;
}

label[disabled="true"]:-moz-system-metric(windows-classic) {
  color: var(--shadow-color);
  text-shadow: 1px 1px var(--shadow-highlight-color);
}

.tooltip-label {
  margin: 0;
}

.header {
  font-weight: bold;
}

.monospace {
  font-family: monospace;
}

.indent {
  margin-inline-start: 23px;
}

.box-padded {
  padding: 5px;
}

.spaced {
  margin: 3px 5px 4px;
}

.wizard-box {
  padding: 20px 44px 10px;
}

.text-link {
  color: -moz-nativehyperlinktext;
  border: 1px solid transparent;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:-moz-focusring {
  border: 1px dotted var(--dialog-text-color);
}

/* :::::: autoscroll popup ::::: */

.autoscroller {
  height: 28px;
  width: 28px;
  border: none;
  margin: -14px;
  padding: 0;
  background-image: url("chrome://global/skin/icons/autoscroll.png");
  background-color: transparent;
  background-position: right top;
  -moz-appearance: none;
}

.autoscroller[scrolldir="NS"] {
  background-position: right center;
}

.autoscroller[scrolldir="EW"] {
  background-position: right bottom;
}

/* ::::: Addon Bar ::::: */

#addon-bar  toolbaritem:not(.chromeclass-toolbar-additional) {
  -moz-appearance: none;
  -moz-box-pack: center;
  background-repeat: repeat-x; 
  background-image:
      url("chrome://browser/skin/tabbrowser/tabstrip.png"),
      -moz-linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
      -moz-linear-gradient(rgba(80, 80, 80, 0.01), rgba(80, 80, 80, 0.1), rgba(80, 80, 80, 0.1), rgba(80, 80, 80, 0.1), rgba(80, 80, 80, 0.1), rgba(80, 80, 80, 0.1))
      ;
  border-left: 1px solid var(--shadow-color);
  border-top: 0px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-highlight-color);
  border-bottom: 1px solid var(--shadow-highlight-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 1px;
  margin: 0px 1px 0;
  min-height:15px;
  }


#addon-bar label{
  margin-top:0px;
  margin-bottom:0px;
  margin-left:2px;
  margin-right:2px;
  min-height:14px;
  }

#toolbar-context-menu > menuitem[command="cmd_ToggleTabsOnTop"] { display:-moz-box !important; }
  
/* Fixes for Addons */

/* ::::: statusbar 4 ever ::::: */
#addon-bar #status4evar-progress-bar{
  margin:0 !important;
  }
/* TEST RULES FOR CCO */

/* ::::: Toolbar dividers ::::: */
toolbox[borders="chiseled"] #toolbar-menubar,
toolbox[borders="chiseled"] #nav-bar,
toolbox[borders="chiseled"] #customToolbars,
toolbox[borders="chiseled"] #PersonalToolbar,
toolbox[borders="chiseled"] TabsToolbar {
  border-top-width:1px;
  border-bottom-width:1px;
  padding:1px 0;
}

toolbox[borders="chiseled"]#navigator-toolbox[iconsize="large"][mode="icons"] #nav-bar {
  padding:4px 0 5px !important;
}

/* ==== CUSTOM RULES ==== */

.profile-name {
  padding: 4px;
}

#print-preview-toolbar  > button > .button-box > .button-text {
 margin-top:-3px !important;
}

/* :::::: Close button icons ::::: */

.close-icon {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.close-icon:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.close-icon:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}
