/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menulist.css ===================================================
  == Styles used by the XUL menulist element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* :::::::::: menulist :::::::::: */

menulist {
  margin: 0px 2px;
  border: 1px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-bottom-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: -moz-Field;
  color: -moz-FieldText;
  text-shadow: none;
}

.menulist-label-box {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
}

.menulist-icon[src] {
  margin: 0px 2px 0px 2px;
}

.menulist-label {
  margin-top: 0 !important;
  -moz-margin-end: 0 !important;
  margin-bottom: 0 !important;
  -moz-margin-start: 1px !important;
}

.menulist-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

/* ..... dropmarker ..... */

.menulist-dropmarker {
  -moz-margin-end: 0 !important;
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: -moz-Dialog;
  -moz-outline-radius-topright: 3px;
  -moz-outline-radius-bottomright: 3px;
}

menulist[disabled="true"]:hover:active > .menulist-dropmarker {
  -moz-border-top-colors: -moz-use-text-color;
  -moz-border-right-colors: -moz-use-text-color;
  -moz-border-bottom-colors: -moz-use-text-color;
  -moz-border-left-colors: -moz-use-text-color;
  padding: 1px;
}

menulist:hover:active > .menulist-dropmarker {
   background: url(chrome://browser/skin/tabbrowser/tab-active-bkgnd.png) repeat-x;
  background-color: -moz-Dialog;
  -moz-border-top-colors: -moz-use-text-color;
  -moz-border-right-colors: -moz-use-text-color;
  -moz-border-bottom-colors: -moz-use-text-color;
  -moz-border-left-colors: -moz-use-text-color;
  padding-top: 2px;
  padding-bottom: 0px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

menulist:not([disabled="true"]) > .menulist-dropmarker:hover {
  background: url(chrome://browser/skin/tabbrowser/tab-hover-bkgnd.png) repeat-x;
  background-color: -moz-Dialog;
}

menulist:not([disabled="true"]):active > .menulist-dropmarker {
  background: url(chrome://browser/skin/tabbrowser/tab-active-bkgnd.png) repeat-x;
  background-color: -moz-Dialog;
}

/* ..... focused state ..... */

menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
  background-color: Highlight;
  color: HighlightText;
}

menulist:-moz-focusring:not([open="true"]) > .menulist-label-box {
  border: 1px dotted #F5DB95;
}

/* ..... disabled state ..... */

menulist[disabled="true"] {
  background-color: -moz-Dialog;
  color: GrayText;
}

/* ::::: editable menulists ::::: */

.menulist-editable-box {
  padding-top: 3px;
  padding-bottom: 3px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-bottom-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: ThreeDFace;
  color: ButtonText;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
}

.menulist-compact > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

.menulist-compact > .menulist-label-box > .menulist-icon {
  -moz-margin-start: 2px;
}

.menulist-compact[open="true"] {
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-bottom-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.menulist-compact[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.png");
}

.menulist-compact:-moz-focusring:not([open="true"]) > .menulist-label-box {
  border: 1px dotted;
}
