/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menulist.css ===================================================
  == Styles used by the XUL menulist element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* :::::::::: menulist :::::::::: */

menulist {
  --button-text-color: ButtonText;
  --dialog-color: -moz-Dialog;
  --field-color: -moz-Field;
  --field-text-color: -moz-FieldText;
  --highlight-color: Highlight;
  --highlight-text-color: HighlightText;
  --shadow-color: ThreeDShadow;
  --shadow-dark-color: ThreeDDarkShadow;
  --shadow-face-color: ThreeDFace;
  margin: 0px 2px;
  border: 1px solid;
  -moz-border-top-colors: var(--shadow-color) var(--shadow-dark-color);
  -moz-border-right-colors: var(--shadow-color) var(--shadow-dark-color);
  -moz-border-bottom-colors: var(--shadow-color) var(--shadow-dark-color);
  -moz-border-left-colors: var(--shadow-color) var(--shadow-dark-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--field-color);
  color: var(--field-text-color);
  text-shadow: none;
}

.menulist-label-box {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
}

.menulist-icon[src] {
  margin: 0px 2px 0px 2px;
}

.menulist-label {
  margin-top: 0 !important;
  margin-inline-end: 0 !important;
  margin-bottom: 0 !important;
  margin-inline-start: 1px !important;
}

.menulist-description {
  font-style: italic;
  color: GrayText;
  margin-inline-start: 1ex !important;
}

/* ..... dropmarker ..... */

.menulist-dropmarker {
  margin-inline-end: 0 !important;
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--dialog-color);
  -moz-outline-radius-topright: 3px;
  -moz-outline-radius-bottomright: 3px;
}

menulist[disabled="true"]:hover:active > .menulist-dropmarker {
  -moz-border-top-colors: -moz-use-text-color;
  -moz-border-right-colors: -moz-use-text-color;
  -moz-border-bottom-colors: -moz-use-text-color;
  -moz-border-left-colors: -moz-use-text-color;
  padding: 1px;
}

menulist:hover:active > .menulist-dropmarker {
   background: url(chrome://browser/skin/tabbrowser/tab-active-bkgnd.png) repeat-x;
  background-color: var(--dialog-color);
  -moz-border-top-colors: -moz-use-text-color;
  -moz-border-right-colors: -moz-use-text-color;
  -moz-border-bottom-colors: -moz-use-text-color;
  -moz-border-left-colors: -moz-use-text-color;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
}

menulist:not([disabled="true"]) > .menulist-dropmarker:hover {
  background: url(chrome://browser/skin/tabbrowser/tab-hover-bkgnd.png) repeat-x;
  background-color: var(--dialog-color);
}

menulist:not([disabled="true"]):active > .menulist-dropmarker {
  background: url(chrome://browser/skin/tabbrowser/tab-active-bkgnd.png) repeat-x;
  background-color: var(--dialog-color);
}

/* ..... focused state ..... */

menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
  background-color: var(--highlight-color);
  color: var(--highlight-text-color);
}

menulist:-moz-focusring:not([open="true"]) > .menulist-label-box {
  border: 1px dotted #F5DB95;
}

/* ..... disabled state ..... */

menulist[disabled="true"] {
  background-color: var(--dialog-color);
  color: GrayText;
}

/* ::::: editable menulists ::::: */

.menulist-editable-box {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
}
