/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

richlistbox {
  --field-color: -moz-Field;
  --field-text-color: -moz-FieldText;
  --highlight-color: Highlight;
  --highlight-text-color: HighlightText;
  --richlistitem-selected-outline: #F3D982;
  -moz-appearance: listbox;
  margin: 2px 4px;
  background-color: var(--field-color);
  color: var(--field-text-color);
}

richlistbox[disabled="true"] {
  color: GrayText;
}

richlistitem[selected="true"] {
  background-color: var(--highlight-color);
  color: var(--highlight-text-color);
}

richlistbox:focus > richlistitem[selected="true"] {
  background-color: var(--highlight-color);
  color: var(--highlight-text-color);
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"] {
  outline: 1px dotted var(--highlight-color);
  outline-offset: -1px;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"][selected="true"] {
  outline: 1px dotted var(--richlistitem-selected-outline); /* TODO: find a suitable system color */
}

