/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== xulscrollbars.css ==============================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  -moz-appearance: none;
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
  cursor: default;
  background: url("chrome://global/skin/scrollbar/slider-h.png") scrollbar repeat-x;
}

scrollbar[orient="vertical"] {
  background: url("chrome://global/skin/scrollbar/slider-v.png") scrollbar repeat-y;
}

/* ::::: borders for thumb and buttons ::::: */

thumb,
scrollbarbutton {
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* ::::: thumb (horizontal) ::::: */

thumb {
  -moz-appearance: none;
  background: url("chrome://global/skin/scrollbar/thumb-v.png") repeat-y;
  min-height: 10px;
  min-width: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

thumb:hover {
  background: url("chrome://global/skin/scrollbar/thumb-v-hov.png") repeat-y;
}

thumb:active {
  background: url("chrome://global/skin/scrollbar/thumb-v-act.png") repeat-y;
}

thumb[orient="horizontal"] {
  -moz-appearance: none;
  background: url("chrome://global/skin/scrollbar/thumb-h.png") repeat-x;
  min-height: 3px;
  min-width: 10px;
}

thumb[orient="horizontal"]:hover {
  background: url("chrome://global/skin/scrollbar/thumb-h-hov.png") repeat-x;
}

thumb[orient="horizontal"]:active {
  background: url("chrome://global/skin/scrollbar/thumb-h-act.png") repeat-x;
}


thumb > gripper {
  -moz-appearance: none;
}

thumb[orient="horizontal"] > gripper {
  -moz-appearance: none;
}

/* ::::: scrollbar button ::::: */

scrollbarbutton {
  min-width: 16px;
  min-height: 16px;
}

scrollbarbutton:hover:active, scrollbarbutton[active="true"] {
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDShadow -moz-Dialog;
  -moz-border-bottom-colors: ThreeDShadow -moz-Dialog;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
  /* XXX -moz-appearance: scrollcorner; */
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
  width: 16px;
  cursor: default;
  background-color: -moz-Dialog;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/scrollbar/arrow-rit.png");
  background-position:center;
  background-repeat: no-repeat;
}

scrollbarbutton[type="increment"]:hover {
  background-image: url("chrome://global/skin/scrollbar/arrow-rit-hov.png");
}

scrollbarbutton[type="increment"]:active {
  background-image: url("chrome://global/skin/scrollbar/arrow-rit-act.png");
}

scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-rit-dis.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/scrollbar/arrow-dn.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:hover {
  background-image: url("chrome://global/skin/scrollbar/arrow-dn-hov.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:active {
  background-image: url("chrome://global/skin/scrollbar/arrow-dn-act.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-dn-dis.png");
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/scrollbar/arrow-lft.png");
  background-position:center;
  background-repeat: no-repeat;
}

scrollbarbutton[type="decrement"]:hover {
  background-image: url("chrome://global/skin/scrollbar/arrow-lft-hov.png");
}

scrollbarbutton[type="decrement"]:active {
  background-image: url("chrome://global/skin/scrollbar/arrow-lft-act.png");
}

scrollbarbutton[type="decrement"][disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-lft-dis.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/scrollbar/arrow-up.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:hover {
  background-image: url("chrome://global/skin/scrollbar/arrow-up-hov.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:active {
  background-image: url("chrome://global/skin/scrollbar/arrow-up-act.png");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-up-dis.png");
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media print {
  /* ::::: scrollbar ::::: */

  html|div scrollbar {
  height:16px;
  }

  html|div scrollbar[orient="vertical"]
  {
  width:16px;
  }
}
