/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttons {
  --shadow-color: ThreeDShadow;
  --shadow-dark-color: ThreeDDarkShadow;
  --shadow-face-color: ThreeDFace;
  --shadow-highlight-color: ThreeDHighlight;
  --shadow-light-color: ThreeDLightShadow;
  cursor: default;
}

.spinbuttons-button {
  min-width: 13px;
  min-height: 6px;
  margin: 0 !important;
  border: 1px solid;
  -moz-border-top-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-bottom-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-left-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  background-color: var(--shadow-face-color);
}

.spinbuttons-button > .button-box {
  border: 0;
}

.spinbuttons-button:hover:active
{
  border: 1px solid;
  -moz-border-top-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-bottom-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-left-colors: var(--shadow-dark-color) var(--shadow-color);
}

.spinbuttons-button[disabled="true"] {
  border: 1px solid;
  -moz-border-top-colors: var(--shadow-highlight-color) var(--shadow-light-color) !important;
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color) !important;
  -moz-border-bottom-colors: var(--shadow-dark-color) var(--shadow-color) !important;
  -moz-border-left-colors: var(--shadow-highlight-color) var(--shadow-light-color) !important;
}

.spinbuttons-up {
  -moz-appearance: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-image: url("chrome://global/skin/arrow/arrow-spinner-up.png");
  background-position: center 1px;
  background-repeat: no-repeat;
  padding-bottom:1px;
}

.spinbuttons-up[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-spinner-up-dis.png");
}

.spinbuttons-down {
  -moz-appearance: none;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 3px;
  background-image: url("chrome://global/skin/arrow/arrow-spinner-dn.png");
  background-position: center 1px;
  background-repeat: no-repeat;
}

.spinbuttons-down[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-spinner-dn-dis.png");
}
