/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tabbox.css =================================================
  == Styles used by XUL tab-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tabs ::::: */

.tabs-left,
.tabs-right {
  border-bottom: 2px solid;
  -moz-border-bottom-colors: var(--shadow-highlight-color) var(--shadow-light-color);
}

/* ::::: tabpanels ::::: */

tabpanels {
  --dialog-color: -moz-Dialog;
  --dialog-text-color: -moz-DialogText;
  --shadow-color: ThreeDShadow;
  --shadow-dark-color: ThreeDDarkShadow;
  --shadow-highlight-color: ThreeDHighlight;
  --shadow-light-color: ThreeDLightShadow;
  -moz-appearance: none;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-bottom-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-left-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  padding: 8px;
  background-color: var(--dialog-color);
  color: var(--dialog-text-color);
}

/* ::::: tab ::::: */

tab
{
  -moz-appearance: tab;
  margin-top: 1px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 0px solid var(--shadow-highlight-color);
  -moz-border-top-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-left-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0px 3px 1px;
  background-color: var(--dialog-color);
  color: var(--dialog-text-color);
}

tab:-moz-locale-dir(rtl) {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 0px;
}

.tab-text {
  margin: 0px 0 !important;
}

tab[selected="true"] {
  border-bottom-color: transparent;
  padding: 0px 3px 2px;
}

tab:-moz-focusring > .tab-middle {
  /* Don't specify the outline-color, we should always use initial value. */
  outline: 1px dotted;
}

tab[beforeselected="true"]:-moz-locale-dir(ltr),
tab[selected="true"]:-moz-locale-dir(rtl) + tab {
  -moz-border-right-colors: var(--shadow-dark-color);
}

tab[selected="true"]:-moz-locale-dir(ltr) + tab,
tab[beforeselected="true"]:-moz-locale-dir(rtl) {
  -moz-border-left-colors: var(--shadow-dark-color);
}

tab:first-of-type[selected="true"] {
  padding-right: 5px;
  padding-left: 5px;
}

/* ::::: tab-bottom ::::::::::
   :: Tabs that are attached to the bottom of a panel, but not necessarily
   :: a tabpanels.
   ::::: */

.tab-bottom {
  margin-top: 0;
  margin-bottom: 2px;
  border-top: 1px solid;
  border-bottom: 2px solid;
  -moz-border-top-colors: var(--shadow-color);
  -moz-border-bottom-colors: var(--shadow-dark-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 2px 4px 1px 4px;
}

.tab-bottom[selected="true"] {
  margin-bottom: 0;
  -moz-border-top-colors: var(--dialog-color);
  padding: 4px 6px 1px 6px;
}

.tab-bottom[beforeselected="true"]:-moz-locale-dir(ltr),
.tab-bottom[selected="true"]:-moz-locale-dir(rtl) + .tab-bottom {
  border-bottom-right-radius: 0;
}

.tab-bottom[selected="true"]:-moz-locale-dir(ltr) + .tab-bottom,
.tab-bottom[beforeselected="true"]:-moz-locale-dir(rtl) {
  border-bottom-left-radius: 0;
}

/* ::::: tabs-bottom ::::: */

.tabs-bottom > .tabs-left,
.tabs-bottom > .tabs-right {
  border-top: 1px solid var(--shadow-color);
  border-bottom: none;
}

