/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this file,
* You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tree.css ===================================================
  == Styles used by the XUL outline element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tree ::::: */

tree {
  --cell-highlight-color: -moz-cellhighlight;
  --cell-highlight-text-color: -moz-cellhighlighttext;
  --dialog-color: -moz-Dialog;
  --dialog-text-color: -moz-DialogText;
  --field-color: -moz-Field;
  --field-text-color: -moz-FieldText;
  --highlight-color: Highlight;
  --highlight-text-color: HighlightText;
  --shadow-color: ThreeDShadow;
  --shadow-dark-color: ThreeDDarkShadow;
  --shadow-highlight-color: ThreeDHighlight;
  --shadow-light-color: ThreeDLightShadow;
  margin: 0px 4px;
  border: 2px solid;
  -moz-border-top-colors: var(--shadow-color) var(--shadow-dark-color);
  -moz-border-right-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  -moz-border-bottom-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  -moz-border-left-colors: var(--shadow-color) var(--shadow-dark-color);
  background-color: var(--field-color);
  color: var(--field-text-color);
  -moz-appearance: none;
}

/* ::::: tree focusring ::::: */

.focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid transparent;
}

.focusring:-moz-focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid var(--field-text-color);
}


/* ::::: tree rows ::::: */

treechildren::-moz-tree-row {
  border: 1px solid transparent;
  min-height: 18px;
  height: 1.3em;
  color: var(--field-text-color);
}

treechildren::-moz-tree-row(selected) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--cell-highlight-color);
}

treechildren::-moz-tree-row(selected, focus) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--highlight-color);
}

treechildren::-moz-tree-row(current, focus) {
  border: 1px dotted var(--highlight-color);
}

treechildren::-moz-tree-row(selected, current, focus) {
  border: 1px dotted #F3D982;
}

tree[seltype="cell"] > treechildren::-moz-tree-row,
tree[seltype="text"] > treechildren::-moz-tree-row {
  border: none;
  background-color: transparent;
}

/* ::::: tree cells ::::: */

treechildren::-moz-tree-cell {
  padding: 0px 2px 0px 2px;
  color: var(--cell-highlight-text-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text,
tree[seltype="text"] > treechildren::-moz-tree-cell-text,
treechildren::-moz-tree-cell-text {
  color: inherit;
}

treechildren::-moz-tree-cell-text(selected) {
  color: var(--cell-highlight-text-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-cell {
  border: 1px solid transparent;
  padding: 0px 1px 0px 1px;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text {
  border: 1px solid transparent;
  padding: 0px 1px 1px 1px;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--cell-highlight-color);
}
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected) {
  color: var(--cell-highlight-text-color);
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--cell-highlight-color);
  color: var(--cell-highlight-text-color);
}

treechildren::-moz-tree-cell-text(selected, focus) {
  color: var(--highlight-text-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, focus) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--highlight-color);
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--highlight-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  color: var(--highlight-text-color);
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  color: var(--highlight-text-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, current, focus) {
  border: 1px dotted #C0C0C0;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, current, focus) {
  border: 1px dotted #C0C0C0;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, current, focus) {
  border: 1px dotted #C0C0C0;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, current, focus) {
  border: 1px dotted #C0C0C0;
}

/* ::::: lines connecting cells ::::: */

tree[seltype="cell"] > treechildren::-moz-tree-line,
tree[seltype="text"] > treechildren::-moz-tree-line,
treechildren::-moz-tree-line {
  border: 1px dotted var(--shadow-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-line(active, selected, focus),
treechildren::-moz-tree-line(selected, focus) {
  border: 1px dotted var(--highlight-text-color);
}

/* ::::: tree separator ::::: */

treechildren::-moz-tree-separator {
  border-top: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-highlight-color);
}


/* ::::: drop feedback ::::: */

treechildren::-moz-tree-row(dropOn) {
  background-color: var(--highlight-color);
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text(primary, dropOn),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(primary, dropOn),
treechildren::-moz-tree-cell-text(primary, dropOn) {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  color: var(--highlight-text-color);
}

treechildren::-moz-tree-drop-feedback {
  background: url(chrome://browser/skin/tabbrowser/tab-bkgnd.png) repeat-x;
  background-color: var(--highlight-color);
  width: 50px;
  height: 2px;
  -moz-margin-start: 5px;
}

/* ::::: tree progress meter ::::: */

treechildren::-moz-tree-progressmeter {
  margin: 2px 4px;
  padding: 1px;
  border: 1px solid;
  border-top-color: var(--shadow-color);
  border-right-color: var(--shadow-highlight-color);
  border-bottom-color: var(--shadow-highlight-color);
  border-left-color: var(--shadow-color);
  background: url("chrome://global/skin/toolbar/Toolbar-bkgd.png") repeat-x;
  background-color: var(--dialog-color);
  color: var(--shadow-color);
}

treechildren::-moz-tree-progressmeter(progressUndetermined) {
  list-style-image: url("chrome://global/skin/progressmeter/progressmeter-busy.gif");
}

treechildren::-moz-tree-cell-text(progressmeter) {
  margin: 2px 4px;
}

/* ::::: tree columns ::::: */

treecol,
treecolpicker {
  -moz-appearance: treeheadercell;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 2px solid;
  -moz-border-top-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-bottom-colors: var(--shadow-dark-color) var(--shadow-color);
  -moz-border-left-colors: var(--shadow-highlight-color) var(--shadow-light-color);
  background: url("chrome://global/skin/toolbar/Toolbar-bkgd.png") repeat-x;
  background-color: var(--dialog-color);
  color: var(--dialog-text-color);
  padding: 0px 4px;
}

.treecol-image {
  padding: 0px 1px;
}

.treecol-text {
  margin: 0px !important;
}

treecol[hideheader="true"] {
  -moz-appearance: none;
  border: none;
  padding: 0;
}

/* ..... internal box ..... */

treecol:hover:active,
treecolpicker:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
  -moz-border-top-colors: var(--shadow-color) var(--dialog-color);
  -moz-border-right-colors: var(--shadow-color);
  -moz-border-bottom-colors: var(--shadow-color);
  -moz-border-left-colors: var(--shadow-color) var(--dialog-color);
  padding-top: 1px;
  padding-bottom: 0px;
  -moz-padding-start: 5px;
  -moz-padding-end: 4px;
}

.treecol-image:hover:active {
  padding-top: 1px;
  padding-bottom: 0px;
  -moz-padding-start: 2px;
  -moz-padding-end: 1px;
}

/* ::::: column drag and drop styles ::::: */

treecol[dragging="true"] {
  -moz-border-top-colors: var(--shadow-dark-color) transparent !important;
  -moz-border-right-colors: var(--shadow-dark-color) transparent!important;
  -moz-border-bottom-colors: var(--shadow-dark-color) transparent !important;
  -moz-border-left-colors: var(--shadow-dark-color) transparent !important;
  background-color: var(--shadow-color) !important;
  color: var(--shadow-highlight-color) !important;
}

treecol[insertafter="true"]:-moz-locale-dir(ltr),
treecol[insertbefore="true"]:-moz-locale-dir(rtl) {
  -moz-border-right-colors: var(--shadow-dark-color) var(--shadow-color);
}

treecol[insertafter="true"]:-moz-locale-dir(rtl),
treecol[insertbefore="true"]:-moz-locale-dir(ltr) {
  -moz-border-left-colors: var(--shadow-dark-color) var(--shadow-color);
}

treechildren::-moz-tree-column(insertbefore) {
  -moz-border-start: 1px solid var(--shadow-color);
}

treechildren::-moz-tree-column(insertafter) {
  -moz-border-end: 1px solid var(--shadow-color);
}

/* ::::: sort direction indicator :::::  */

.treecol-sortdirection {
  list-style-image: none;
}

treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.png");
}

treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="ascending"]:-moz-system-metric(windows-classic) {
  list-style-image: url("chrome://global/skin/tree/sort-asc-classic.png");
}

treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.png");
}

treecol:not([hideheader="true"]) > .treecol-sortdirection[sortDirection="descending"]:-moz-system-metric(windows-classic) {
  list-style-image: url("chrome://global/skin/tree/sort-dsc-classic.png");
}

/* ::::: column picker :::::  */

.tree-columnpicker-icon {
  list-style-image: url("chrome://global/skin/tree/columnpicker.gif");
}

/* ::::: twisty :::::  */

treechildren::-moz-tree-twisty {
  -moz-padding-end: 4px;
  padding-top: 1px;
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

treechildren::-moz-tree-twisty(open) {
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

treechildren::-moz-tree-indentation {
  width: 15px;
}

/* ::::: gridline style ::::: */

treechildren.gridlines::-moz-tree-cell {
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

treechildren.gridlines::-moz-tree-row {
  border: none;
}

/* ::::: editable tree ::::: */

treechildren::-moz-tree-row(selected, editing) {
  background-color: transparent;
  border: none;
}

treechildren::-moz-tree-cell-text(selected, editing) {
  color: inherit;
}

.tree-input {
  -moz-appearance: none;
  border: 1px solid var(--highlight-color);
  -moz-border-top-colors: var(--highlight-color);
  -moz-border-bottom-colors: var(--highlight-color);
  -moz-border-left-colors: var(--highlight-color);
  -moz-border-right-colors: var(--highlight-color);
  margin: 0;
  -moz-margin-start: -4px;
  padding: 1px;
}
