/* Pale Moon: Window title fix */
@media (-moz-os-version: windows-xp),
       (-moz-os-version: windows-vista),
	   (-moz-os-version: windows-win7) {
	#main-window:after {
	  margin-left: -60px !important;
	}
}

@media all and (-moz-windows-compositor) {
  /* Fix borders because of Vista/7 versus 8/10+ */
  #main-window {
    -moz-appearance: -moz-win-glass;
    background: transparent !important;
  }
  
  /* On win 10, if we don't set this on the entire browser container, including
  * the sidebar, then the accent color bleeds through in the titlebar
  * if the sidebar is open. */
  #browser {
    -moz-appearance: -moz-win-exclude-glass;
  }
  
  @media (-moz-os-version: windows-vista),
  (-moz-os-version: windows-win7) {
  /* Make sure the native margins are correct on Win Vista/7.
  * We can't use -moz-win-glass there because the border sizing would
  * not be correct. */
    #main-window {
      -moz-appearance: -moz-win-borderless-glass;
    }
  
  /* The borders on the glass frame are ours, and inside #browser, and on
  * vista and win7 we want to make sure they are "glassy", so we can't use
  * #browser as the exclude-glass container. We use #appcontent instead. */
    #browser {
      -moz-appearance: none;
    }
  
    #appcontent {
      -moz-appearance: -moz-win-exclude-glass;
    }
  }
  #main-window[inFullscreen="true"] {
    -moz-appearance: none;
  }
  #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
  background-color: transparent;
  }
 #main-window[cctabsintitlebar=true][autohide=true][tabsontop=true] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
   background-color: transparent;
  }
   #main-window[sizemode="maximized"][tabsintitlebar="true"][tabsontop="true"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
   background-color: transparent;
  }
  
    /* These should be hidden w/ glass enabled. Windows draws its own buttons. */
  .titlebar-button {
    display: none;
  }
  #main-window[sizemode="maximized"] #titlebar-buttonbox {
    margin-right: 3px;
  }
  #main-window[sizemode="normal"] #appmenu-button {
    margin-top: 3px;
  }
}